In [10]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
fitbit = pd.read_csv("fitbit_data.csv")
fitbit.head()

,Activities,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
1,6/9/2022,"1,881","8,690",3.56,0,"1,303",66,14,57,612
2,6/10/2022,"2,141","10,366",4.25,0,771,153,16,59,908
3,6/11/2022,"2,317","11,511",4.74,0,714,158,16,79,"1,077"
4,6/12/2022,"2,212","9,666",3.96,0,748,160,10,60,962