In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
fitbit = pd.read_csv("fitbit_data.csv")
fitbit.head()

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,6/9/2022,"1,881","8,690",3.56,0,"1,303",66,14,57,612
1,6/10/2022,"2,141","10,366",4.25,0,771,153,16,59,908
2,6/11/2022,"2,317","11,511",4.74,0,714,158,16,79,"1,077"
3,6/12/2022,"2,212","9,666",3.96,0,748,160,10,60,962
4,6/13/2022,"2,262","7,285",2.98,0,608,255,49,21,"1,100"